* {
    margin: 0;
}

html, body, main {
    height: 100%;
}

.half {
    width: 100%;
    height: 49.75%;
}

.half#red {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));
}

.half#blue {
    background-image: linear-gradient(to top, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0));
}

.line {
    height: 0.5%;
    background-color: black;
    border: 0;
    position: relative;
}