<h2>Update Journalist</h2>
<div class="container m-2">
    <h3>Journalist {{journalist.lastName}} {{journalist.firstName}} details</h3>
    <label class="form-label">Last name: <input type="text" class="form-control" [(ngModel)]="journalist.lastName"></label>
    <br>
    <label class="form-label">First name: <input type="text" class="form-control"  [(ngModel)]="journalist.firstName"></label>
    <br>
    <label class="form-label">Email: <input type="text" class="form-control"  [(ngModel)]="journalist.email"></label>
    <br>
    <label class="form-label">Date of birth: <input type="date" class="form-control"  [(ngModel)]="dob" ></label>
    <br>
    <button class="btn btn-primary" (click)="saveJournalistUpdates()">Save</button>
    <button class="btn btn-danger m-2" (click)="onCancel()">Cancel</button>
</div>