<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=DESKTOP-S6C1A6M;Database={0};Trusted_Connection=true"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="Database" value ="Music_Production_Company"/>
		<add key="ParentTableName" value="Manager"/>
		<add key="ChildTableName" value ="Singer"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Manager"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Singer"/>
		<add key="ParentReferencedKey" value="manager_id"/>
		<add key="ChildForeignKey" value="manager_id"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Singer WHERE manager_id = {0}"/>-->

		
		<add key="Database" value ="Music_Production_Company"/>
		<add key="ParentTableName" value="Song"/>
		<add key="ChildTableName" value ="Review"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Song"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Review"/>
		<add key="ParentReferencedKey" value="song_id"/>
		<add key="ChildForeignKey" value="song_id"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Review WHERE song_id = {0}"/>
		
	</appSettings>
</configuration>