<div id="login-form">
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" #username>
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" #password>
    </div>
    <button class="btn btn-primary mb-3" (click)="login(username.value, password.value)">Login</button>
</div>