* {
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

div {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: left 5s, top 5s, background-color 5s;
}

.blue-div:hover {
    background-color: red;
    left: 87%;
    top: 72.25%;
}