<nav>
    <button class="btn btn-primary m-2" (click)="navigateToPage('journalists')">Journalists</button>
    <button class="btn btn-primary m-2" (click)="navigateToPage('categories')">Categories</button>
    <button class="btn btn-primary m-2" (click)="navigateToPage('articles')">Articles</button>
    <button class="btn btn-primary m-2" (click)="navigateToPage('article-journalists')">Article-Journalists</button>
    <button class="btn btn-primary m-2" (click)="navigateToPage('readers')">Readers</button>
</nav>